* {
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  background-color: rgba(244, 128, 36, 1.0);
  font-family: din-2014, serif;
  line-height: 80px;
  padding: 12.5px 0 20px 0;
}

.vertical-stack {
  display: block;
  overflow: auto;
}

.wrapper {
  position: absolute;
}

.header-text {
  margin: 0px;
  padding: 0 0 0 30px;
  font-size: 550%;
  float: left;
}

.header-text.secondary {
  font-size: 350%;
  color: white;
  display: block;
}

.wrapper .search_box {
  width: 500px;
  background: #fff;
  height: 40px;
  display: flex;
  margin: 10px 0 0 30px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown {
  width: 150px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 0;
  margin: -19px 0px 0px 25px;
  font-size: 14px;
}

.wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 16px;
  right: 20px;
  border: 8px solid;
  border-color: rgba(244, 128, 36, 1.0) transparent transparent transparent;
}

.wrapper .search_box .search_field {
  width: 325px;
  height: 90%;
  position: relative;
}

.wrapper .search_box .search_field .input {
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding: 0px 10px;
  position: relative;
  bottom: 18.5px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: rgba(244, 128, 36, 1.0);
  cursor: pointer;
}

@media screen and (max-width: 40rem) {
  .dropdown {
    display: none;
  }

  .wrapper .search_box {
    width: 200px;
  }

  .title-text {
    line-height: 1.3;
  }

  .header-text {
    margin: 0px;
    padding: 0 0 10px 30px;
    font-size: 280%;
    float: left;
  }

  .header-text.secondary {
    font-size: 220%;
    color: white;
    display: block;
    padding: 0 0 0 30px;
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9fa3b1;
  font-family: din-2014, serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9fa3b1;
  font-family: din-2014, serif;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9fa3b1;
  font-family: din-2014, serif;
}

.dictionary-content {
  display: block;
  overflow: auto;
  border: 1.25px solid;
  margin: 10px 0 0 0;
  padding: 30px;
  -webkit-columns: 5 200px;
  -moz-columns: 5 200px;
  columns: 5 200px;
}

.dictionary-entry {
  font-family: minion-pro, serif;
  line-height: 20px;
  padding-bottom: 20px;
}

.dictionary-letter {
  font-family: din-2014, serif;
  color: rgba(244, 128, 36, 1.0);
  font-weight: 600;
  font-size: 100px;
  padding: 0;
  text-align: center;
  ;
}
